[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
aiohttp = "*"
aiodns = "*"
python-dotenv = "*"
requests = "*"
websockets = "*"
websocket-client = "*"

[dev-packages]
black = "*"
autoflake = "*"

[requires]
python_version = "3.10"
